@import "tailwindcss";

@theme inline {
  --color-navy:     #1B1E4B;
  --color-purple:   #9655C8;
  --color-pink:     #F06591;
  --color-sky:      #7ED4EE;
  --color-cream:    #FDF8FF;
  --font-sans: var(--font-nunito);
}

:root {
  --background: #ffffff;
  --foreground: #1B1E4B;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
